body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url('https://media1.tenor.com/m/hf9tz_vODroAAAAC/bubu-playing.gif');
    background-size: 80vb;
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.box {
    background-color: skyblue; /* Background color with opacity */
    padding: 20px;
    border-radius: 10px;
}

.ques {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.yes {
    background-color: #4CAF50;
    color: white;
}

button.no {
    background-color: #f44336;
    color: white;
}
